.ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.Menu{
    display: flex;  
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Logo{
    margin-right: 30px;
}

.Logo a{
    color: black;
    font-size: 50px
}

.SearchBar{
    width: 582px;
    height: 52px;
    border: 3px solid black;
}

.SearchForm{
    width: 582px;
    height: 52px;
    position: relative;
}

#Search{
    position: absolute;
    top: 0;
    left: 0;
    width: 552px;
    height: 26px;
    padding: 13px 15px;
    font-size: large;
    font-weight: bold;
    color: black;
    align-items: center;
    outline: none;
    border: none;
    font-weight: bold;
}

#List{
    display: flex;
    padding: 0;
}

#List ul{
    padding-left: 0;
}

#SemiList{  
    display: flex;
    padding-top: 45px;
}

#logoutbtn{
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
}