.ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.Menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    align-items: center;
    height: 67px;
    /* padding-top: 0.8px; */
}

.Logo{
    margin: 0;
}

.Logo a{
    color: black;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
}

.SearchBar{
    width: 80%;
    /* height: 56px; */
    border: none;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
}

.SearchForm{
    width: 100%;
    /* height: 52px; */
    position: relative;
}

#Search{
    position: absolute;
    top: 0;
    left: 0;
    width: 552px;
    height: 26px;
    padding: 13px 15px;
    font-size: large;
    font-weight: bold;
    color: black;
    align-items: center;
    outline: none;
    border: none;
    font-weight: bold;
}

#List{
    display: flex;
    padding: 0;
    margin: 0;
}
#List li{
    margin-left: 30px;
}

#list a{
    color: black;
    font-size: 20px;
}

#searchparam{
    height: 10px;
    /* border: none; */
}