.ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.Menu{
    display: flex;  
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Logo{
    margin-right: 30px;
}

.Logo a{
    color: black;
    font-size: 50px
}

.SearchBar{
    width: 582px;
    height: 52px;
    border: none;
}

.SearchForm{
    width: 582px;
    height: 52px;
    position: relative;
}

#Search{
    position: absolute;
    top: 0;
    left: 0;
    width: 552px;
    height: 26px;
    padding: 13px 15px;
    font-size: large;
    font-weight: bold;
    color: black;
    align-items: center;
    outline: none;
    border: none;
    font-weight: bold;
}

#List{
    position: relative;
    display: flex;
    padding: 0;
}

#List ul{
    padding-left: 0;
}

#SemiList{  
    display: flex;
    padding-top: 45px;
}

#logoutbtn{
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    border: 2px solid black;
    width: 80px;
    height: 30px;
    color: black;
    font-weight: bold;
    margin-top: 16px;
}

.userBox{
    background-color: white;
    position: absolute;
    width: 150px;
    border: solid 1px black;
    left: 45%;
    top: 85%;
    text-align: center;
    font-size: 18px;
}

#textline{
    border: solid 1px black;
}

p{
    margin: 8px;
}

#name{
    font-size: 16px;
}

#new_shopping_cart{
    color: white;
    font-weight: bold;
    font-size: 11px;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 3%;
}

#new_shopping_cart p{
    margin: 0;
    margin-top: 3px;
}