.ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.Menu{
    /* display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 60px;
    padding-top: 9px; */
    display: grid;
    width: 1440px;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    align-items: center;
    /* height: 100px; */
    /* padding-top: 0.8px; */
}

.Logo{
    /* height: 100%; */
    width: 100%;
}

.Logo a{
    color: black;
    font-size: 35px;
    font-weight: bold;
    /* align-items: center; */
}

.SearchBar{
    width: 100%;
    /* height: 56px; */
    /* border: none; */
    /* border: 1px solid black; */
    /* border-radius: 5px; */
}

#S_btn{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

#S_btn1{
    height: 100%
}
.SearchForm{
    position: relative;
}

/* #Search{
    position: absolute;
    top: 0;
    left: 0;
    width: 552px;
    height: 26px;
    padding: 13px 15px;
    font-size: large;
    font-weight: bold;
    color: black;
    align-items: center;
    outline: none;
    border: none;
    font-weight: bold;
} */

.UserInf{
    width: 100%;
    /* text-align: right; */
}

#List{
    /* position: relative; */
    /* width: 100%; */
    /* justify-content: flex-end; */
    /* margin: auto; */
    /* grid-template-columns: repeat(4,2fr); */
    /* place-items: center; */
    /* align-items: center; */
    justify-content: right;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    /* padding-left: 40px; */
}

#List li{
    padding-left: 30px;
    /* margin-left: 50px; */
}

/* #SemiList1{  
    display: flex;
    padding-top: 45px;
} */

#logoutbtn{
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    border: 2px solid black;
    width: 80px;
    height: 30px;
    color: black;
    font-weight: bold;
    margin-top: 16px; 
    /* -> 수정요망 */
    /* align-items: center; */
    /* place-items: center; */
}

.userBox{
    background-color: white;
    position: absolute;
    width: 150px;
    border: solid 1px black;
    /* left: 45%; */
    /* margin-top: 60px; */
    top: 100%;
    right: 11%;
    /* 수정해야함 */
    text-align: center;
    /* font-size: 1.17em; */
}

#textline{
    border: solid 1px black;
}

p{
    margin: 8px;
}

#name{
    font-size: 16px;
}

#new_shopping_cart{
    color: white;
    font-weight: bold;
    font-size: 11px;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 3%;
    /* 수정요망 */
}

#new_shopping_cart p{
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    margin-top: 3px;
}
/* 수정요망 */

#searchparam{
    height: 10px;
    /* border: none; */
}