/*reviewList*/
.flex_userGooudsupContent{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    align-items: center;
}

#userGoodsup_title{
    width: 1440px;
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    /* padding-left: 40px; */
    /* margin-left: 40px; */
}

#order_bar{
    border-bottom: 3px solid #000;
}

/* .menubar_flex{
    width: 100%;
} */

.not_userReivew{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.order_list_wd{
    width: 100%;
}

.order_list_wd ol{
    padding: 0;
    margin: 0;
}

.user_review_window{
    /* margin-top: 135px;
    padding-left: 10%;
    width: 60%; */
    /* display: flex; */
    /* font-size: 22px; */
    /* display: flex; */
}

/*orderContent*/
.user_orderlist_window1{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
}

.user_order_img{
    width: 177px;
    height: 150px;
    border: 1px solid black;
    border-bottom: none;
    /* margin-bottom: 10px */
}

.user_order_list_view{
    /* padding-left: 10px; */
    width: 100%;
    position: relative;
}

.user_orderlist_title{
    font-size: 18px;
    /* padding: 5px; */
    padding-left: 5px;
}

.user_reviewlist_title p{
    margin: 0;
}

.user_orderlist_line{
    width: 100%;
    border: 1px solid gray;
    margin: 15px 0;
}

.user_orderlist_content{
    /* padding-left: 15px; */
    font-size: 16px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* padding: 5px; */
    padding-left: 5px;
}

.user_orderlist_detail_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#user_orderlist_orderTime{
    text-align: right;
}