#user_title{
    padding-left: 40px;
}
.flex_content{
    display: flex;
}

#user_bar{
    border-bottom: 3px solid #000;
}

.user_window{
    padding-left: 20%;
    margin-top: 110px;
}

.user_content{
    display: flex;
    font-size: 22px;
}

.user_content li{
    margin-bottom: 20px;
    font-weight: bold;
}

.btn_window{
    position: relative;
}

#to_modify_btn{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    border: 2px solid black;
    width: 120px;
    height: 30px;
    bottom: 0;
    left: 30px;
    cursor: pointer;
}
