tbody{
    display: table-row-group;
    vertical-align: middle;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
    font-size: 22px;
}


#user_title{
    /* padding-left: 40px; */
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
}

.flex_content{
    text-align: left;
    padding-top: 80px;
    width: 100%;
}

/* .menu_bar a:hover{
    border-bottom: 2px solid #000;
} */

/* #user_bar_modifyr{
} */
/* 
.user_window{
    padding-left: 20%;
    margin-top: 110px
} */

.td_flex{
    display: flex;
}

/* .user_content_modify{
    display: flex;
    
} */

.user_content_modify th{
    width: 100px;
    border: 1px solid black;
}

/* .user_content li{
    margin-bottom: 30px;
    font-weight: bold;
} */

.btn_window{
    position: relative;
}

#to_modify_btn{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    border: 2px solid black;
    width: 120px;
    height: 30px;
    bottom: 0;
    left: 30px
}

#no_margin{
    /* margin: 0; */
}

#no_margin li{
    /* margin-bottom: 9px; */
}