#userinformaion_title{
    /* padding-left: 40px; */
    /* margin-left: 40px; */

    margin-left: 50px;
    font-size: 22px;
    font-weight: bold;
}
.flex_content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    align-items: start;
    /* display: flex; */
}

#user_bar{
    display: inline-block;
    margin-bottom: 50px;
    font-size: 20px;
    border-bottom: 3px solid #000;
}

.user_window{
    width: 100%;
}

.user_window ol{
    /* display: grid;
    grid-template-columns: repeat(1,1fr);
    place-items: center;
    align-items: center; */
    /* padding-left: 20%;
    margin-top: 110px; */
    padding: 0;
    margin: 0;
}
.menubar_flex{
    width: 100%;
}

.user_content{
    /* display: flex; */
    font-size: 15px;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    align-items: center; */
    display: flex;
    margin:  0 0 30px 15px;
}

.user_content li{
    margin-bottom: 20px;
    font-weight: bold;
    /* text-align: left; */
}

.btn_window{
    /* position: relative; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#space_pd{
    padding-left: 40px;
}

#to_modify_btn{
    align-items: center;
    width: 180px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    /* text-align: center; */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    /* place-items: center; */
    /* margin-top: 2px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    border: 2px solid black;
    width: 120px;
    height: 30px;
    bottom: 0;
    left: 30px;
    cursor: pointer; */
}
