/* userGoodsup */
#userGoodsup_title_nm{
    /* padding-left: 40px; */
    /* margin-left: 40px; */
    margin-left: 50px;
    font-size: 22px;
    font-weight: bold;
}

.flex_userGoodsupContent{
    min-width:1024px;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center;
    align-items: start;
}

.user_goodsup_window{
    width: 60%;
    padding-right: 100px;
}

.not_userGoodsup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: black;
}
/* goodsUpContent */
.user_productlist_window{
    display: flex;
    border-bottom: 3px solid #000;
    position: relative;
    margin-bottom: 30px
}

/* .user_product_img{
    margin-bottom: 20px;
} */

#user_productimg{
    height: 130px;
    width: 130px;
}

.product_info_text{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.user_product_info{
    width: 100%;
    margin-left: 40px;
    align-items: center;
    height: 120px;
}

.user_productlist_title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.user_productlist_content{
    display: flex;
    font-size: 13px;
    font-weight: bold;
    position: relative;
}

.user_productlist_content > p{
    font-size: 20px;
}

#user_product_count{
    display: inline-block;
    margin-left: 30px;

}

.user_productbtn{
    width: 100px;
    color: white;
    font-size: 22px;
    background-color: black;
    font-weight: bold;
    border: 1px solid black;
    margin-left: 20px;
    cursor: pointer;
}

.user_product_event_form{
    display: flex;
    justify-content: end;
    align-items: end;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
}

.user_goodsup_modify{
    display: block;
    width: 100px;
    margin-top: 2px;
    height: 31px;
}

#user_goodsup_modify_btn{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

/* userGoodsUpModify */
.userGoodsModify_flex_content{
    display: flex;
}

.userGoodsModify_window{
    width: 100%;
    /* padding-left: 10%; */
    margin-top: 135px;
}

#user_goodsup_modify_title{
    /* padding-left: 40px; */
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
}

/* input{
    outline: none;
} */

.goodsModify_info{
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}

.goodsModifyimg_look{
    display: flex;
    flex-direction: column;
    color: black;
    width: 400px;
    height: 500px;
}

.goodsModifysample_img_wd{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.goodsModifysample_img{
    width: 100%;
    height: 400px;
}

.GoodsModifyupload{
    font-size: 16px;
    font-weight: bold;
}

.ModifyInfo_form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
}

.goodsModify_name{
    font-weight: bold;
    font-size: 26px;
    border: none;
}

.goodsModify_price{
    font-weight: bold;
    font-size: 26px;
    border: none;
}

.Seller_an{
    font-weight: bold;
    font-size: 26px;
    border: none;
}

.Goods_explain{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.success_wd{
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

#goodsup_modify_return{
    width: 118px;
    height: 24.5px;
    text-align: center;
    margin: 0;
    color: white;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    padding: 6px;
    border: 2px solid black;
    cursor: pointer;
    margin-right: 50px;
}

.success{
    /* width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer; */
    width: 134px;
    height: 41px;
    text-align: center;
    margin: 0;
    color: white;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    /* padding: 3px 6px 3px 6px; */
    padding: 6px;
    border: 2px solid black;
    cursor: pointer;
    margin-left: 50px;
}

.floor{
    height: 2px;
    margin: 20px auto;
}

@media (max-width: 1440px) {
    .goodsModify_info {
      flex-direction: column;
    }

    .goods_name, .goods_price,
    .Seller_an{
      font-size: 18px;
    }
  }