.Header{
    border-bottom: 3px solid #000;
}

.postcode_flex{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#num{
    /* width: 235px; */
    /* width: 50%; */
}

#Addr_btn{
    /* display: flex; */
    /* justify-content: end; */
    /* width: 50%; */
    /* width: 100%; */
    border: 1px solid black;
    border-radius: 5px;
    /* border: none; */
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    /* margin-top: 13px; */
    /* margin-left: 30px; */
    /* margin-left: 19px; */
    cursor: pointer;
    height: 100%;
}


.style{
    display: none;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    margin: 5px 0;
    position: relative;
}

#btnFoldWrap{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -1px;
    z-index: 1;
}

#email{
    /* display: flex; */
    /* width: 90%; */
    /* width: 250px; */
}

#email_check_btn{
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 16px;
    cursor: pointer;
}

#nickname{
    width: 250px;
}

#nickname_check_btn{
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 16px;
    cursor: pointer;
}

#joinForm{
    margin-bottom: 50px;
}

