a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.Header{
    min-width:1024px;
    border-bottom: 3px solid #000;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.Content{
    /* min-width: 1024px; */
    margin: auto;
    padding-top: 80px;
    /* padding-top: 50px; */
}